<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tta.edu.culuannamcontrau">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bus_icon"
        android:label="GoBus"
        android:roundIcon="@drawable/bus_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Culuannamcontrau">
        <activity
            android:name=".SuccessedActivity"
            android:exported="false" />
        <activity
            android:name=".LinkBankActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseBankActivity"
            android:exported="false" />
        <activity
            android:name=".LoadMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".InfoEditor"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".History"
            android:exported="false" />
        <activity
            android:name=".PassChangeSuccess"
            android:exported="false" />
        <activity
            android:name=".UserInfo"
            android:exported="false" />
        <activity
            android:name=".ChangePass"
            android:exported="false" />
        <activity
            android:name=".class1"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>